* {
    box-sizing: border-box;;
    padding: 0;
    margin: 0;
}
body {
    font-family: avenir, helvetica, sans-serif;
}
h1 {
    font-size: 32px;
    font-weight: 500;
}

.bg-color--0 {
    background: #FE938C !important;
}
.bg-color--1 {
    background: #E6B89C !important;
}
.bg-color--2 {
    background: #EAD2AC !important;
}
.bg-color--3 {
    background: #9CAFB7 !important;
}
.bg-color--4 {
    background: #4281A4 !important;
}

.device {
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.device__title {
    font-size: 1em;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    color: rgba(65, 55, 65, 0.5);
    font-weight: 300;
}
.device__button {
    width: 50%;
    height: 66.66%;
    font-size: 2em;
    letter-spacing: 0.05em;
    border: none;
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.device__button--on {
    background: rgba(0, 0, 0, 0.05);
}
.device__button--off {
    background: rgba(0, 0, 0, 0.1);
}
